.email-submit {
	background-color: #000;
	font-size: 8px;

	position: relative;
	overflow: hidden;

	&:before {
		position: absolute;
		content: '';
		top: -14px;
		right: 81%;
		width: 613px;
		height: 55px;
		background: url(../img/lines/Group_68.svg) center no-repeat;
		background-size: contain;
		z-index: 2;

		@media (max-width: $md2+px) {
			height: 30px;
			right: 64%;
		}

		@media (max-width: $md3+px) {
			right: 52%;
		}

		@media (max-width: $md4+px) {
			right: 36%;
		}
	}

	&::after {
		position: absolute;
		content: '';
		bottom: -14px;
		left: 81%;
		width: 613px;
		height: 55px;
		background: url(../img/lines/Group_69.svg) center no-repeat;
		background-size: contain;
		z-index: 2;

		@media (max-width: $md2+px) {
			height: 30px;
			left: 62%;
		}

		@media (max-width: $md3+px) {
			left: 52%;
		}

		@media (max-width: $md4+px) {
			left: 36%;
		}
	}

	&__body {
		min-height: 21.5em;
		padding-top: 2em;
		padding-bottom: 2em;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	&__column {
		width: 50%;
		display: flex;
		justify-content: center;
		padding: 0 1.5em;

		@media (max-width: 1023px) {
			width: 100%;
			padding: 0;
		}

		& .wpcf7 {
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}

	&__text {
		color: #ffffff;
		font-size: 2em;
		font-weight: 400;
		line-height: 1.1em;

		& > span {
			color: $mainColor;
		}

		@media (max-width: 1023px) {
			text-align: center;
		}
	}

	&__form {
		width: 100%;
		max-width: 64em;
		display: flex;
		align-items: center;
		margin-right: 7em;
		flex-wrap: wrap;
		transition: all .4s ease;

		& .wpcf7-response-output {
			font-size: 14px;
			color: #fff;
		}

		@media (max-width: 1440px) {
			margin-right: 4em;
		}

		@media (max-width: 1023px) {
			margin-right: 0rem;
		}
	}

	&__form-item {
		flex: 0 1 calc(100% - 15.333em);

		&:last-child {
			flex: 0 0 auto;
		}

		&:nth-child(3) {
			flex: 0 0 auto;
		}
	}
	&__form-input {
		width: 100%;
		background: #fff;
		min-height: 3.375em;
		padding: 0.937em 2.06em 0.625em;
		outline: none;
		font-size: 1.6em;
		color: #000000;

		font-weight: 700;

		&::placeholder {
			color: #000000;
			font-size: 1.125em;
			font-weight: 700;
			letter-spacing: 0.142em;
			text-transform: uppercase;
		}

		&:focus {
			color: #000000;

			font-weight: 700;
		}

		@media (max-width: $md4+px) {
			font-size: 1.4em;
		}
	}

	&__form-submit {
		min-width: 8.333em;
		min-height: 3em;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #fff;
		position: relative;
		transition: all .2s ease;
		color: $mainColor;
		font-size: 1.8em;
		font-weight: 700;
		letter-spacing: 0.142em;
		text-transform: uppercase;
		padding: 0.83em 0.55em 0.55em;

		@media (min-width: 992px) {
			&:hover {
				background: #e1e1e1;
			}
		}

		&:active {
			background: #e1e1e1;
		}

		&:before {
			position: absolute;
			content: '';
			top: 50%;
			left: 0;
			width: 2px;
			height: 80%;
			background: #ccc;
			transform: translateY(-50%);
		}


		@media (max-width: $md4+px) {
			font-size: 1.58em;
		}
	}
}
